@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Open+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700;800;900&display=swap');
*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body{
  background-color: #f5f5f5;
  font-family: "Montserrat";
}
html, body {
  overflow-x: hidden;
}
a {
  text-decoration: none; /* no underline */
  color: inherit;
}

button{cursor: pointer;}

/*-------------------------------- CUSTOM CSS --------------------*/

.v-align-fstart{
  display: flex;
  align-items: flex-start;
}
.h-align-fstart{
  display: flex;
  justify-content: flex-start;
}
.vh-align{
  display: flex;
  align-items: center;
  justify-content: center;
}
.v-align{
  display: flex;
  align-items: center;
}
.h-align{
  display: flex;
  justify-content: center;
}
.h-align-fstart{
  display: flex;
  justify-content: flex-start;
}
.h-align-spacebw{
  display: flex;
  justify-content: space-between;
}

.flex-col-align{
  display: flex;
  flex-direction: column;
}


/* ------------------------------------------------------------------------ */


/* ---------------------------HEADER--------------------------- */
header{
  background-color: #191919;
  position: relative;
}
.image-container{
  background-image: linear-gradient(0deg, rgba(25, 25, 25, 0.7),rgba(25, 25, 25, 0.7)) ,url('./images/header/header1.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat ;  
  width: 100%;
  height: 800px;
}
.material-icons.letter-spacebw { letter-spacing: 0.5px; }
/* remove css */
.material-icons.md-14 { font-size: 14px; }
.material-icons.md-16 { font-size: 16px; }
.material-icons.md-18 { font-size: 18px; }
.material-icons.md-19 { font-size: 19px; }
.material-icons.md-20 { font-size: 20px; }
.material-icons.md-21 { font-size: 21px; }
.material-icons.md-23 { font-size: 23px; }
.material-icons.md-24 { font-size: 23.5px; }
.material-icons.md-36 { font-size: 36px; }
.material-icons.md-48 { font-size: 48px; }
.material-icons.md-58 { font-size: 58px; }
.material-icons.md-60 { font-size: 60px; }

.main-container{
  margin-left: auto;
  margin-right: auto;
  width: 1170px;


}


.top-layer{
  height: 40px;;
}
.icons-socialmedia-container{
  gap: 14px;
  padding-left: 1px;
}
.icons-socialmedia-container>a>i{
  color: #8e8e8e;
  font-family: "FontAwesome";
}

.setting{
  padding-right: 1px;
  gap: 13px;
}
.signIn{
  gap: 7px;
  padding-right: 1px;

}


.setting-tag{
  font-size: 11px;
  color: #aaaaaa;
  font-weight: 400;
  font-family: "Montserrat";
  margin-top: 1px;
  letter-spacing: 0.8px
}
.v-bar{
  width: 1px;
  height: 20px;
  margin-top: 1px;
  background-color:#545454;

}

.lang-container{
  gap: 8px;
  /* earlier 6.5 */
}
.mui-container{
  width: 16px;
  height: 16px;
  color: #8e8e8e
}

.arrowContainer{
  width: 12px; 
  color: white;
}
.material-icons.arrowContainer2{
  color: white;
  line-height: 17px;
  width: 16px;
}

nav{
  height: 70px;
  padding-top:20px ;
  color: #ffffff;

}
.logo{
  font-weight: 700;
  letter-spacing: 1px;
  font-size: 24px;
  line-height: 25.6px;
  color: #ffffff;


  /* height: 50px; */
}
/* .navigation{
  width: 84%;
  justify-content: space-between;
  height: 50px;

} */

.label-downArrow{
  display: flex;
  color: white;
  gap:5px;
  padding-left: 13px;
  cursor: pointer;
}
.label-downArrow:hover{
  border-bottom: 4px solid #ff4081;

}
.label-downArrow>span{
  font-size: 14px;

}
.nav-items{
  font-weight: 700;
  padding-top: 6px;
  height: 50px;
  gap:15px;
  margin-left: 54px;

}


.nav-icons{
  gap: 11px;
  padding-right: 15px;

}
.nav-icons>a{
  color: white;
  padding-top: 1px;
  padding-left: 0.5px;

}
.vbar{
  width: 1px;
  height: 30px;
  background-color: #b4b4b4;
}

.inspirational-quote-container{
  flex-direction: column;
  margin-top: 210px;
  color: white;
  
}

.inspirational-quote-container>p{
  font-weight: 400;
  padding-left: 1px;
  padding-top: 2px;
  font-size: 20px;
  letter-spacing: 0.65px;
  color:#cfcfcf;
}
.quote-text{
  margin-top: 15px;
  color: #ffffff;
  text-align: center;
  font-size: 42px;
  font-weight: 900;
  line-height: 1.2;
  letter-spacing: 1px;
  width: 75%;
  margin-left: 8px;
}


.rm-button{
  padding : 14px 27px 12px 27px;
  margin-top: 30px;
  border-radius: 22px;
  background-color: #303f9f;
  filter: drop-shadow(0px 17px 12px rgba(48,63,159,0.2));
  border: none;
  font-size: 16px;
  letter-spacing: 1.5px;
  color: #ffffff;
  margin-left: 2px;
  /* font-family: "Montserrat"; */
}

.profile-info{
  flex-direction: column;
  justify-content: flex-start;
  margin-top: 81px;
  color: white;

}
.white-font{
  color: white;

}
.profile-image{
  border-radius: 50%;
  width: 50px;
  height: 50px;
  margin-right: 1px;
}

.profile-name{
  font-size: 14px;
  letter-spacing: 0.45px;
  margin-top: 11px;
  font-weight: 700;
}
.post-date{
  font-size: 12px;
  letter-spacing: 1px;
  margin-top: 8px;
  display: flex;
  gap: 8px;
  padding-left: 4px;
}
.account-stats{
  display: flex;
  gap:27px; 
  margin-top: 33px;
  margin-right: 4px;

}
.icon-label{
  gap: 6px;
}
.label-text{font-size: 12px;letter-spacing: 0.7px;padding-top: 1px;}
.label-text2{font-size: 12px;letter-spacing: 0.7px;padding-bottom: 1px;padding-right: 1px;}
/* SORT BY CONTAINER */

.suggestion-filter-container{background-color: white;height: 60px;}

.suggestion-filter-container>div{
  gap:20px
}
.sort-blog-text{
font-size: 11px;
color: #000000;
font-weight: 700;
letter-spacing: 0.5px;
padding-top: 1px;
font-family: "Montserrat";
margin-left: 1px;

}
.suggestion-box{
  gap:15px;
  margin-left: 1px;
}
.suggestion-button{
  background-color: #f5f5f5;
  border-radius: 15px;
  letter-spacing: 0.293px;
  padding : 9px 28px 7px 29px;
  font-size: 11px;
  text-align: center;
  font-weight: 500;
  color: #000000;
}
.selected-suggestion-outline{
  border: 1px solid #303f9f;
  color: #303f9f;
  padding : 8px 29px 6px 27px;

}

/* MAIN CONTENT */

main>div{
  background-color: #f5f5f5;
  gap: 41px;

}

.cards-container{
  width: 70.0847%;
  margin-top: 31px;
  margin-left: 1px;
  gap: 21px;

}
.top-card{
  border-radius: 5px;
  background-color: white;
} 
.top-card-image-container{
  background-image: url("./images/body/main/seashore.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height:420px ;
  color: white;
  flex-direction: column;
  position: relative;

}
.top-card-image-container>a{
  /* margin-top: 20%; */  
  margin-left: 1px;
}

.tagline-post-stats{
  position: absolute;
  padding-left: 20px;
  padding-right: 18px;
  width: 100%;
  bottom: 3.5%;
  /* margin-top: 18%; */
}
.tagline-post-stats>a{
  font-size: 11px;

}
.post-stats{
  gap: 18px;
}

.post-title-description{
  padding: 14px 18px 12px 21px;
  border-bottom: 1px solid rgb(224,224,224);
}
.post-title-description>a{font-size: 18.72px;font-weight: bold;}
.post-title-description>a:hover,.card2-post-title-description>a:hover,.card3-post-title-description>a:hover,.card4-post-title-description>a:hover{color: #3f51b5;}
.post-title-description>p{
  font-family: "Open Sans";
  padding-top: 8px;
  line-height: 1.6;
  letter-spacing: 0.62px;
  font-size: 16px;
}
.post-user-details{
  margin-top: 17px;
  margin-left: 20px;
  color: #000000;
  padding-right: 10px;
  padding-bottom:20.82px;
}
.post-user-details>div>a,.card2-post-user-details>div>a,.card3-post-user-details>div>a,.card4-post-user-details>div>a{
  width: 50px;
  height: 50px;
}
.post-user-details>div>div,.card2-post-user-details>div>div,.card3-post-user-details>div>div,.card4-post-user-details>div>div{
  display: flex;
  flex-direction: column;
  padding-bottom: 5px;
  padding-left: 9px;
}
.post-user-details>div>div>a,.card2-post-user-details>div>div>a,.card3-post-user-details>div>div>a,.card4-post-user-details>div>div>a{
  padding: 0;
  margin-top: 7.5px;
}
.cards2-container{
  gap:20.5px
}
.card2{
  border-radius: 5px;
  display: flex;
  background-color: white;
}
.card2-image-container{
  border-radius: 5px;
  position: relative;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  width: 56%;
  color: white;
  flex-direction: column;
}
.card2-image-container>div{
  bottom: 9%;
}
.card2-image1{
  background-image: url("./images/body/main/hatLady.png");
}
.card2-image2{
  background-image: url("./images/body/main/skater.png");
}
.card2-image3{
  background-image: url("./images/body/main/sea.png");
}
.card2-image-container>a,.card3-image-container>a{
  /* margin-top: 16.5%; */
  margin-left: 1px;
}


.card2-image-container>div>div,.card3-image-container>div>div{
  gap:19px;
  padding-bottom: 2px;
}
.card2-post-title-description{
  padding: 10px 18px 15px 19px;
  border-bottom: 1px solid rgb(224,224,224);
}
/* .card2-post-title-description>h4,.card3-post-title-description>h4{
  letter-spacing: 0.4px;
  } */
  .card2-post-title-description>a{font-size: 16px ; font-weight: bold;letter-spacing: 0.4px;  }
  .card3-post-title-description>a{font-weight: bold; letter-spacing: 0.4px;font-size: 14px;  line-height: 24px;  }
  .card4-post-title-description>a{font-size: 18.72px;font-weight: bold; }
.card2-post-title-description>p{
font-size: 14px;
font-family: "Open Sans";
letter-spacing: 0.58px;
line-height: 21px;
padding-top: 8px;
}
.card2-post-user-details{
  margin-top: 7px;
  padding-left: 1px;
  margin-left: 20px;
  color: #000000;
  padding-right: 10px;
  padding-bottom:10px;
}
.card2-post-user-details>a,.card3-post-user-details>a,.card4-post-user-details>a{
  padding-top: 2px;
}

.cards3-container{
  background-color: #f5f5f5;
  /* height: 420px; */
  display: flex;
  gap:20px
}

.card3{
  border-radius: 5px;
  background-color: white;
}
.card3-image-container{
  height: 160px;
  width: 260px;
  border-radius: 5px;
  position: relative;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  color: white;
  flex-direction: column;
}
.prev-next-btn{padding:6px;background-color: white;color: #3f51b5;position: absolute;top:37%}
.previous-btn{left: 4%;}
.next-btn{right: 4%;}
.card3-image-container>div{  bottom: 6.5%;}

.card3-post-title-description{  padding: 11px 20px 25px 20px;  border-bottom: 1px solid rgb(224,224,224);}

/* .card3-post-title-description>h4{  font-size: 14px;  line-height: 24px;} */

.card3-post-title-description>p{  letter-spacing: 0.5943px;  line-height: 21px;  padding-top: 7px;  font-size: 14px;  font-family: "Open Sans";  display:-webkit-box;  -webkit-line-clamp: 4;  overflow: hidden;  -webkit-box-orient:vertical;}

.card3-post-user-details{  margin-top: 12px;  margin-left: 19px;  padding-left: 1px;  color: #000000;  padding-right: 10px;  padding-bottom:19px;}

.card3-post-user-details>a {  padding-top: 20px;}
.card3-image1{  background-image: url("images/body/main/grapes.png");}
.card3-image2{  background-image: url("images/body/main/ladyforest.png");}
.card3-image3{  background-image: url("images/body/main/persona.png");}

.cards4-container{  background-color: #f5f5f5;  display: flex;  gap:20px}

.card4{  border-radius: 5px;  background-color: white;
}

.card4-image-container{  border-radius: 5px;  background-position: center;  background-size: cover;  background-repeat: no-repeat;  color: white;  flex-direction: column;  height: 300px;  width: 400px; position: relative;
}
.card4-image-container>div{  bottom: 5.5%;  padding-left: 19px;}

.card4-image-container>div>div{  gap:20px }

.card4-post-title-description{  padding-top: 13px;  padding-left: 20px;  padding-bottom: 14px;  padding-right: 20px;  border-bottom: 1px solid rgb(224,224,224);}

.card4-post-title-description>p{  font-family: "Open Sans";  letter-spacing: 0.59px;  line-height: 26px;  padding-top: 5px;  display:-webkit-box;  -webkit-line-clamp: 4;  overflow: hidden;  -webkit-box-orient:vertical;}

.card4-post-user-details{  margin-top: 12px;  margin-left: 19px;  padding-left: 1px;  color: #000000;  padding-right: 10px;  padding-bottom:15px;}

.card4-image1{  background-image: url("images/body/main/mountains.png");}

.card4-image2{  background-image: url("images/body/main/studyTable.png");}


.more-next-page{  margin-left: auto ;  margin-top: 22px;  color: #303f9f;  gap: 8px;margin-bottom: 43px;}

.more-next-page>a{  border-radius: 50%;  background-color: white;  font-size: 24px;  padding: 9px;}
/* Right section Aside */
aside{  background-color: white;  width: 100%;  margin-top: 31px; position: relative; padding-top: 24px;border-top-left-radius: 5px;}

aside:after{   content: "";  position: absolute;  background: white;  top: 0;  bottom: 0;  left: 100%;  width: 100vw;} 
.wrapper{margin-left: 37px;}
.search-input-container{border-radius:20px;background-color: #f5f5f5;padding: 4px;display:flex;margin-left: 4px;}
.search-input{border-radius:20px;border:none;font-family: "Open Sans";font-size: 16px;width: 100%;background-color: #f5f5f5;padding-left: 14px;padding-bottom: 1px;}
.input-search-icon{background-color: #ff4081;color: white;border-radius: 50%; padding: 5.515px;}
.category-choices-container{margin-top: 27px;}
.aside-section-heading{font-size: 18px;color: #3f51b5;  font-weight: 700; padding-bottom: 5px; border-bottom: 1px solid #3f51b5;margin-left: 2px;}
.choices-container{gap: 11px; margin-top: 15px;}
.category-label-count{font-size: 15px;font-family: "Open Sans";padding-bottom: 13px; border-bottom: 1px solid rgb(224,224,224);margin-left: 1px;line-height: 1;}
.category-count{font-weight: 700;font-size: 14px;padding-top: 1px;}

.email-subscription-container{margin-top: 30px;}
.form-name-email{margin-top: 13px;gap:14px}
.form-name-email>div{gap:11px}
.form-name-email>div>input{border-radius: 3px; border:1px solid rgb(224,224,224);margin-left: 3px;font-size: 16px;font-family: "Open Sans";padding: 9.51px 6.5px 11.51px 14.5px;}
.email-subscription-container>button{background-color: #3f51b5; color: white; border: none; width: 100%;padding: 13.51px;border-radius: 3px;margin-left: 3px;font-size: 16px;margin-top: 10px;}
.horizontal-bar{width: 100%;border-top: 1px solid black;height: 0;}
.hbar-or{margin-left: 3px;margin-top: 8px;}
.hbar-or>span{padding: 7px;padding-top: 6px;padding-bottom: 8px;}
.form1-social-media-icons,.social-widget-social-media-icons{gap: 10px;margin-left: 4px;margin-top: 11px;}
.form1-social-media-icons>a,.social-widget-social-media-icons>a{display:flex;align-items: center;justify-content: center;font-size: 18px;color: white; border-radius: 50%; width: 36px;height:36px;}
.fb-color{background-color: #3b5999;}
.twit-color{background-color: #55abed;}
.vk-color{background-color: #4b75a3;}
.pin-color{background-color: #ff2d55}
.tumb-color{background-color: #33455d;}
.drib-color{background-color: #e94b89;}

.post-widget{margin-top: 45px;}
.widget-filter-post-buttons{margin-top: 19px;border-radius: 2px;padding-left: 3px;margin-left: 1px; width: 100%}
.widget-filter-post-buttons>a{background-color: white; color: #3f51b5;border:1px solid #303f9f;border-radius: 2px;padding:13px 25px 11px 18px;font-size: 11px; width: 100%;}
.widget-filter-post-buttons>a:hover{background-color: #3f51b5; color: white;}

.widget-posts-container{margin-top: 16px;margin-left: 3px;gap: 11px;}
.widget-post{gap:13px;  padding-bottom: 15px;  border-bottom: 1px solid rgb(224,224,224);}
.widget-image-container{  background-size: cover;  background-position: center;  background-repeat: no-repeat ; width:56.52%;height:80px;margin-top: 4px;}
.widget-post-details{gap: 3px;}
.widget-image-1{background-image: url("./images/body/aside/pic1.png");}
.widget-image-2{background-image: url("./images/body/aside/pic2.png");}
.widget-image-3{background-image: url("./images/body/aside/pic3.png");}
.widget-image-4{background-image: url("./images/body/aside/pic4.png");}
.post-date-comment-count{font-size: 12px;}
.comments-count{color:#3f51b5;gap: 5px;}
.widget-post-heading{font-size: 14px;font-family: "Open Sans";font-weight: bold;padding-left: 1px;}
.widget-post-heading:hover{color: #3f51b5;}
.widget-comment-count{padding-top: 1px;}
.category-label-count.border-remove,.widget-post.border-remove,.twitter-post.border-remove{border-bottom: none;}

.tags-container{margin-top: 31px;}
.tags-buttons-container{margin-top: 20px;margin-left: 3px;gap:10px;flex-wrap: wrap;}
.tags-buttons-container>a{font-size: 14px;padding: 3.5px 20px 7.5px 15px;border-radius: 5px;background-color: rgb(237,237,237);font-family: "Open Sans";}
.tags-buttons-container>a:hover{color: white;background-color: #3f51b5;}

/* FOOTER SECTION */
footer{background-color: #212121;}

.insta-image1{background-image: url("./images/footer/row-images/insta_pic1.png");}
.insta-image2{background-image: url("./images/footer/row-images/insta_pic2.png");}
.insta-image3{background-image: url("./images/footer/row-images/insta_pic3.png");}
.insta-image4{background-image: url("./images/footer/row-images/insta_pic4.png");}
.insta-image5{background-image: url("./images/footer/row-images/insta_pic5.png");}
.insta-image6{background-image: url("./images/footer/row-images/insta_pic6.png");}
.insta-image7{background-image: url("./images/footer/row-images/insta_pic7.png");}
.insta-image8{background-image: url("./images/footer/row-images/insta_pic8.png");}

.footer-image-container{background-image:linear-gradient(0deg, rgba(25, 25, 25, 0.7),rgba(25, 25, 25, 0.7)) ,url('./images/footer/forest.png');background-position: center;  background-size: cover;  background-repeat: no-repeat;  width: 100%;height: 200px;}
.footer-image-container>div{color:white;height: 100%;gap:40px;}
.footer-image-container>div>h1{font-size: 42px;font-weight: 900;padding-bottom: 6px;padding-left: 1px;}
#form2{gap: 30px;padding-bottom: 1px;}
#form2>input,#form3>input,#form3>textarea{padding:9.5px 66.5px 11.5px 18.5px;margin-top: 2px;border-radius: 22px;border: 1px solid #777c7c;background-color: transparent;font-size: 16px;font-family: "Open Sans";color: white;}
#form2>button{padding:13px 39.46px 13px 34.46px;  border-radius: 22px;  background-color: #303f9f;  border: none;  color: white;font-size: 16px; font-family: "Montserrat";}

.footer-widget{margin-top:46px;display:flex;gap: 30px;color: white;margin-bottom: 32px;}

.footer-widget>div{width: 24%;padding-bottom: 45px;}
.footer-widget>div>h3{font-size: 18px;padding-left: 1px;}

.twitter-posts-container{margin-top: 22px;gap: 11px;}
.twitter-post{color: #909090;  border-bottom: 1px solid #3c3c3c;padding-bottom: 10px;}
.twitter-post-heading{gap: 16px;}
.twitter-widget-logo{font-size: 24px;color: #55acee;padding-bottom: 14px;padding-left: 9px;}
.twitter-widget-post-heading{font-size: 14px;font-family: "Open Sans";}
.twitter-widget-post-heading:hover{color: #55acee;}
.twitter-post-controls{margin-top: 8px;margin-left: 2px;font-size: 12px;font-family: "Open Sans";display:flex;gap: 7.5px;}
.twitter-post-controls>span{padding-top: 1px;}
.tweet-time{font-size: 13px;padding-bottom: 1px;}
.reply-retweet-fav{text-decoration: underline;gap: 16px;font-weight: normal;}
.social-widget-social-media-icons{margin-left: 0;margin-top: 15px;}
.footer-social-widget{margin-top: 15px;}

.flickr-images-container{gap: 8px 7px ;flex-wrap: wrap;margin-top: 26px;}
.flickr-images-container>a{background-position: center;  background-size: cover;  background-repeat: no-repeat; height: 85px; width: 85px;}
.flickr-image1{background-image: url("./images/footer/flickr-images/fl-img1.png")}
.flickr-image2{background-image: url("./images/footer/flickr-images/fl-img2.png");}
.flickr-image3{background-image: url("./images/footer/flickr-images/fl-img3.png");}
.flickr-image4{background-image: url("./images/footer/flickr-images/fl-img4.png");}
.flickr-image5{background-image: url("./images/footer/flickr-images/fl-img5.png");}
.flickr-image6{background-image: url("./images/footer/flickr-images/fl-img6.png");}
.flickr-image7{background-image: url("./images/footer/flickr-images/fl-img7.png");}
.flickr-image8{background-image: url("./images/footer/flickr-images/fl-img8.png");}
.flickr-image9{background-image: url("./images/footer/flickr-images/fl-img9.png");}

#form3{gap: 10px;margin-top: 26px;padding-left: 1px;}
#form3>input,#form3>textarea{border-radius: 4px;font-size: 14px;padding: 13px 14.5px 11px 14.5px;width: 100%;margin-top: 0;}/* pd-right:93.5 */
#form3>textarea{padding-bottom: 10px;resize: none;}
#form3>button{background-color: #2f2f2f;  color: white;  border: none;  width: 100%;  padding: 12.5px 14.5px 12.5px 10.5px;  border-radius: 3px;  font-size: 12px;  font-family: "Montserrat";  margin-left: 2px;}

.footer-nav-bar{  background-color: #2f2f2f;  color: white;}
.footer-nav-items{  font-size: 12px;  gap: 42px; }
.footer-nav-items>a{padding-top: 32px;padding-bottom: 33px;}
.footer-search-bar-language{gap:70px;}
.footer-search-input-container{ border: 1px solid #979797;border-radius: 22px;margin-bottom: 1px;}
.footer-search-input{background-color: transparent; border: none;font-size: 14px;font-family: "Montserrat";padding-left: 20px;padding-right: 0;padding-top: 6.5px;padding-bottom: 8.5px;color: white;border-radius: 22px;}
.footer-search-input:focus{outline: none;}
.footer-search-input-container>a{color:#979797;border-radius: 50%;padding-right: 12px;padding-left: 1px;}
.footer-search-bar-language>a{padding-bottom: 1px;padding-right: 3px;gap: 0;}
.footer-lang-globe{padding-bottom: 1px;margin-right: 7px;}

.pages-widget>ul{margin-top: 25px;gap: 5px;margin-left: 1px;}
li{list-style: none;}
.level-0>a,.level-1{  font-size: 12px;font-weight: 700;font-family: "Open Sans";padding: 9.5px;padding-left: 15.5px;border: 1px solid #777c7c;letter-spacing: 2px;border-radius: 5px;color: #b4b4b4;}
.level-1{border: 1px solid #979797;border-top: none;font-size: 14px;font-weight: 400;color: #979797;letter-spacing: 1px;padding-left: 12px;padding-top: 13px;padding-bottom: 3px;display: none ;}
.level-1>li{padding-bottom: 17px;}
/* .level-0:hover>ul{display: block;} */
.show-sub-menu{display: block;}

/* slider */
/* .infinite-slider-carousel{display: flex; width: 200%;}
.infinite-slider-carousel-items{  display:flex;  animation: moves 15s linear infinite;width: 100%;}
.infinite-slider-carousel-items>a{background-position: center;  background-size:  cover;  background-repeat: no-repeat;min-height: 240px;width: 100%;}
.infinite-slider-carousel-items:hover{animation-play-state: paused;} */


.images-row-container{width: 200%;}
.images-row-container>div>img,.images-row-container>div>a{background-position: center;  background-size:  100% 100%;  background-repeat: no-repeat;min-height: 240px;width: 100% ;min-width: 240px;}
.slide{width: 100%;animation: moves 10s linear infinite;}
.images-row-container:hover>div{animation-play-state: paused;}
@keyframes moves{
  
  0%{    transform:translateX(0)  }
  100%{    transform: translateX(calc(-100%))  }

}